/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 5%;
}

.icon-block .material-icons {
  font-size: inherit;
}

.icon-block h2,
.icon-block p {
  padding: 6%;
  padding-bottom: 10%;
}

.hoverable:hover {
  background-color: rgba(0, 0, 0, 0.01);
}

h1 {
  display: inline;
}

h1 span {
  font-family: Pinyon Script, cursive;
  margin: auto;
  line-height: 0.96;
  padding: 0%;
  font-size: 0.6em;
}